{% load staticfiles %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        Eulerapps
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/webflow.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/eulerapps.webflow.css' %}">
    <script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
    <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/55b3eb06e11cffd340a35f9d/56cb8cbefcced8e6257f8f62_inverse_logo.png">
    <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/55b3eb06e11cffd340a35f9d/56cb8cbefcced8e6257f8f62_inverse_logo.png">
</head>

<body>
    <div class="w-section home-section">
        <h1 class="home-h1">
            {% block heading %}
            Eulerapps
            {% endblock %}
        </h1>
    </div>
    <div class="w-section home-section">
        <div class="w-container home-container heading">
            <h2 class="home-heading2">
                {% block heading2 %}
                Available Apps
                {% endblock %}
            </h2>
        </div>

        {% block content %}
        <div class="w-container home-container"><a href="{% url 'problem2_display' %}" class="w-button home-button">Problem 2</a>
        </div>
        {% endblock %}

    </div>
    <div class="w-section home-section">
        <div class="w-container home-container home-footer">
            <p>Created by Xiangyu Wu, 2016.</p>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/webflow.js' %}"></script>
    <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>

</html>
